.App {
  padding: 20px;
}

.header {
  animation: header-transform infinite 4s ease-in-out;
  height: 10vmin;
  pointer-events: none;
}

.timeline {

}


.post {
  display: grid;
  padding: 2px;
  margin: 2px;
  width: 20%;
  border: solid 1px black;
}


a {
  color: #61dafb;
}



@keyframes header-transform {
  from {
    color: red;
  }
  to {
    color: blue;
  }
}
